/* Styling the body */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 13px;
  margin: 0;
}

/* Styling the wrapper */

input,
textarea,
button {
  color: #333;
  font-size: 13px;
}

#maintext {
  font-family: 'Raleway', sans-serif;
  color: white;
}

#login {
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
}

.inner {
  padding: 20px;
  background: #fff;
  max-width: 850px;
  margin: auto;
  display: flex;
}

.inner .image-holder {
  width: 50%;
}

.inner form {
  width: 50%;
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px;
}

.inner h3 {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  margin-bottom: 28px;
}

/* Styling the input fields */

#name {
  background-color: transparent;
  color: white;
}

#email {
  background-color: transparent;
  color: white;
}

#password {
  background-color: transparent;
  color: white;
}

#confirmpassword {
  background-color: transparent;
  color: white;
}

/* Styling the Placeholders */

#name::placeholder {
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}

#email::placeholder {
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}

#password::placeholder {
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}

#confirmpassword::placeholder {
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}

/* Styling main */

#main {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styling the input fields */

.form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.form-control::-moz-placeholder {
  font-size: 13px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.form-control:-moz-placeholder {
  font-size: 13px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

/* Styling the submit button */

#btn {
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 255, 255);
 
}

#redirect {
  font-family: 'Raleway', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

button {
  width: 164px;
  height: 51px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #000000;
  color: #000;
  border-radius: 5px;
}

button i {
  margin-left: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

button:hover i,
button:focus i,
button:active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wobble Horizontal */

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Responsiveness */

@media (max-width: 1199px) {
  .wrapper {
    background-position: right center;
  }
}

@media (max-width: 991px) {
  .inner form {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .inner {
    display: block;
  }

  .inner .image-holder {
    width: 100%;
  }

  .inner form {
    width: 100%;
    padding: 40px 0 30px;
  }

  button {
    margin-top: 60px;
  }
}