#menu {
    background-color: transparent;
    color: white;
    border: none;
}

#menu a {
    color: white;
}

#btn {
    background-color: transparent;
    color: white;
    border: none;
}

#menu-item:hover {
    background-color: transparent;
    text-decoration: underline;
}

#login {
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: none;
}

#SignUp {
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: none;
}

#SignUp:hover {
    opacity: 0.5;
}

#login:hover {
    opacity: 0.5;
}

